<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet"/> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
	<div class="col-12">
        <!-- <button ng-click="showAllQueries()">Back</button> -->
        <h3 style="text-align: center;">Query 1</h2>
        <h4 style="text-align: center;">Given an author name, show a knowledge card with his/her metadata (name, title, affiliation, email, research interests, publication list in the field)</h2>
        <div class="idxcontainer">
            <input type="text" name="search" ng-model="search.author" placeholder="Author Name" id="author">
            <button type="submit" class="btn btn-search" ng-click="getAuthorData()">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div ng-switch="changePCView">
            <div ng-switch-when="showResult">
                 <div style=" margin: 0 auto; width: 80%; width: 500px; margin-top: 40px; border-color: black; border-style: solid; padding: 10px;" id="resultContainer">
                    <h4 style="text-align: center;">{{result.name}}</h4>
                    <div id="img" ng-if="result.photoUrl == 'null'">
                        <!-- <img src="{{result.photoUrl}}"> -->
                        no image
                    </div>
                    <div id="img" ng-if="result.photoUrl != 'null'">
                        <img width= "100" height="100" src="{{result.photoUrl}}"> 
                    </div>
                    <p><b>Title:</b>{{result.title}}</p>
                    <p><b>Email:</b> {{result.email}}</p>
                    <p><b>Affiliation:</b> {{result.affiliation}}</p>
                    <p><b>Research Interest:</b></p>
                    <p ng-repeat="int in result.researchInterests track by $index">{{int}}</p>
                    <p><b>Publications:</b></p>
                    <p ng-repeat="pub in result.publicationList track by $index">{{pub}}</p>
                 </div>
        
            </div>
          </div>  
	</div>
</div>