<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet"/> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
	<div class="col-12">
        <!-- <button ng-click="showAllQueries()">Back</button> -->
        <h2 style="text-align: center;">Query 5</h2>
        <h2>Given a publication channel (a journal or a conference) and a year, list the focused topics of the papers (based on titles and abstracts) and show in Tableau generated diagram.</h2>
        <div class="idxcontainer">
            <input type="text" name="search" ng-model="search.publication" placeholder="Publication Channel" id="channel">
            <input type="text" name="search" ng-model="search.year" placeholder="Year" id="year">
            <button type="submit" class="btn btn-search" ng-click="getResult()">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div ng-switch="changePCView">
            <div ng-switch-when="showResult">
                 <table>
                 <thead class="thead-dark">
                    <tr>
                        <th scope="col">Topic</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="topic in topics">
                        <td>{{topic}}</td>
                    </tr>
                </tbody>
            </table>
        
            </div>
          </div>  
	</div>
</div>