<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet"/> -->
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
	<div class="col-12">
        <!-- <button ng-click="showAllQueries()">Back</button> -->
        <h3 style="text-align: center;">Query 2</h2>
        <h4>Given a time period of years for an author, generate a histogram showing her publications per year in the field. </h2>
        <div class="idxcontainer">
            <input type="text" name="search" ng-model="search.author" placeholder="Author Name" id="author">
            <input type="text" name="stYear" ng-model="search.yearStart" placeholder="Start Year (XXXX)" id="startYear">
            <input type="text" name="endYear" ng-model="search.yearEnd" placeholder="End Year (XXXX)" id="endYear">
            <button type="submit" class="btn btn-search" ng-click="getResult()">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div ng-switch="changePCView">
            <div ng-switch-when="showResult">
                 <div id="content">
                    <table border="1" style="margin-top: 40px;">
                 <thead class="thead-dark">
                    <tr>
                        <th scope="col">Year</th>
                        <th scope="col" style="text-align:center">Number of Publications</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entry in arr">
                        <td>{{entry.year}}</td>
                        <td align="center">{{entry.numPubs}}</td>
                    </tr>
                </tbody>
            </table>
                 </div>
        
            </div>
          </div>  
	</div>
</div>