<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!DOCTYPE html>
<meta charset="utf-8">
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<div class="container">
    <div class="col-12">
        <h3 style="text-align: center;">Query 2.8</h3>
        <h4>Given some keywords, generate a graph of top k related papers together with their authors.</h4>
        <div class="idxcontainer">
            <input type="text" name="keywords" ng-model="search.keywords" placeholder="keywords" id="keywords">
            <input type="text" name="kNum" ng-model="search.kNum" placeholder="K num, default is 10" id="kNum">
            <button type="submit" class="btn btn-search" ng-click="getResult()">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div ng-switch="changePCView">
            <div ng-switch-when="showResult">
                <style>
                    .links line {
                        stroke: #999;
                        stroke-opacity: 0.6;
                    }
                    .nodes circle {
                        stroke: #fff;
                        stroke-width: 1.5px;
                    }
                    text {
                        font-family: sans-serif;
                        font-size: 10px;
                    }
                </style>
                <svg width="1260" height="666" id="graph"></svg>
            </div>
        </div>
    </div>
</div>